.floating-div {
  position: absolute;
  @media only screen and (max-width: 650px) {
    left: 58% !important;
  }
  @media only screen and (max-width: 450px) {
    left: 45% !important;
  }
}
.floatingDiv {
  justify-content: space-around;
  background: white;
  box-shadow: var(--boxShadow);
  border-radius: 17px;
  display: flex;
  align-items: center;
  padding: 0px 28px 0px 0px;
  position: absolute;
  height: 4rem;
  img {
    transform: scale(0.4) !important;
    position: relative !important;
    top: 0px !important;
  }
  span {
    font-family: sans-serif;
    font-size: 16px;
    /* yahan ye color add kia hy bad mein dark mode k waqt */
    color: black;
  }
  @media only screen and (max-width: 650px) {
    transform: scale(0.8);
  }
  @media only screen and (max-width: 550px) {
    transform: scale(0.6);
  }
  @media only screen and (max-width: 450px) {
    transform: scale(0.5);
  }
}
