.cr__card {
  width: 11rem;
  height: 15rem;
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  text-align: center;
  background: rgba(255, 255, 255, 0.26);
  border: 7px solid var(--orangeCard);
  box-shadow: var(--boxShadow);
  border-radius: 20px;
  padding: 0px 20px 2rem 20px;
  span:nth-of-type(2) {
    color: var(--gray);
    font-size: 14px;
  }
  img {
    transform: scale(0.6);
    margin-bottom: -2rem;
  }
  @media only screen and (max-width: 915px) {
    width: 20rem;
    height: 15rem;
  }
}
.c-button {
  background: #ffffff;
  box-shadow: 0px 19px 60px rgba(0, 0, 0, 0.08);
  border-radius: 7px;
  border: none;
  padding: 10px;
  font-size: 16px;
  color: #5290fd;
}

.c-button:hover {
  transform: scale(1.1);
  cursor: pointer;
}
.cr__card* {
  position: absolute;
}
